:root {
}

* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  letter-spacing: 2px;
  color: rgb(255, 250, 240);
}

body {
  margin: 0;
  background-color: black;
  width: 100vw;
  height: 100vh;
  display: grid;
  justify-items: center;
}

/* small screens */

@media screen and (max-width: 576px) {
  .swipe-feature {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  .card-group {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 400px;
  }

  .card[data-status="unknown"] {
    transform: scale(0);
    transition: none;
  }

  .card[data-status="active"] {
    transition: 800ms;
  }

  .card[data-status="right"] {
    transform: translateX(-60%) scale(0);
  }

  .card[data-status="left"] {
    transform: translateX(60%) scale(0);
  }


  .card[data-status="from-right"] {
    transform: translateX(60%) scale(0);
    transition: none;
  }

  .card[data-status="from-left"] {
    transform: translateX(-60%) scale(0);
    transition: none;
  }

  .card {
    width: 80%;
    height: 400px;
    background-color: rgb(10, 10, 10);
    border-radius: 20px;
    border: 2px solid rgba(100, 100, 100, 0.05);
    padding: 20px;
    position: absolute;
    transition: transform 800ms cubic-bezier(.32,.19,.13, 1);
  }

  .card::after {
    content: "";
    height: 100px;
    width: 2px;
    position: absolute;
    background: linear-gradient(transparent, rgb(248, 0, 248), transparent);
    top: 80%;
    left: -2px;
    opacity: 0;
    transition: top, opacity;
    transition-duration: 800ms;
    transition-timing-function: cubic-bezier(0.32, 0.3, 0.19, 1);
  }

  .card:hover::after {
    top: 10%;
    opacity: 1;
  }

  .card-content {
    text-align: center;
  }

  .nav-buttons {
    /* display: none; */
  }

  .button {
    background-color: rgb(10, 10, 10);
    border: 2px solid rgba(100, 100, 100, 0.05);
    height: 70px;
    width: 70px;
    border-radius: 50px;
    font-size: 20px;
    margin: 0px 10px 0px 10px;
  }
}
